@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* Apply Mona Sans font family globally to all elements */
*,
*::before,
*::after {
  font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #faf8f6;
  color: #222222;
  font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f3f1ef;
}

::-webkit-scrollbar-thumb {
  background: #8b5e3c;
  border-radius: 4px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
